boto3==1.17.50
botocore==1.20.50
click==7.1.2
environs==9.3.2
Flask==1.1.2
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
marshmallow==3.11.1
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-dotenv==0.17.0
s3transfer==0.3.6
six==1.15.0
SQLAlchemy==1.4.7
urllib3==1.26.4
Werkzeug==1.0.1
